	/*styling the main section containing the header*/
	header.nav{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 140px;
	border-bottom: 5px solid #003459;
	}

	/*there are 2 boxes in header.they are next to each other*/
	.left{
		width: calc((100% - 120px) / 2);
		height: calc((100% - 20px) / 2);
		order: 1;
		text-align: left;
		margin-left: 3vw;
		margin-top: 1.1vh; 
	}

	.right{
		width: calc((100% - 40px) / 2);
		height: calc((100% - 20px) / 2);
		order: 2;
		text-align: right;
		margin-right: 1vw;
		margin-top: 1.1vh;
	}

	/*styling the profile*/
	img.photo{
		height: 12vw;
		width: 12vw;
		display: block;
		margin: 0;
		margin-left: 14vw;
		margin-top: 0;
		padding: 0;
	}

	 div.section{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	article.summary{
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	section.video{
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	p.detail{
		padding-right: 1.5vw;
		padding-left: 1.5vw; 
	}

	/*styling the featured works section */
	main.works{
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
	}

	div.work1{
	width: calc((100% - 50px) / 4);
	margin-right: 5px;
	order: 1;
	margin-bottom: 0;
	}

	div.work2{
		width: calc((100% - 50px) / 4);
	    margin-right: 15px;
		order: 2;
		margin-bottom: 0;
	}

	div.work3{
			width: calc((100% - 50px) / 4);
		    margin-right: 5px;
		    margin-top: 0;
			order: 3;
			margin-bottom: 0;
	}

	div.work4{
		width: calc((100% - 50px) / 4);
	    margin-top: 0;
		order: 4;
		margin-bottom: 0;
	}

	img.img-box{
		height: calc((100% - 20px) / 2);
		margin-bottom: 10px;
		width: 100%;
	}

	a.link{
		text-decoration: none;
		font-size: 1.0em;
		width: 100%;
		height: auto;
		word-wrap: break-word;
	}

	/*styling the heading and know more for works-Note-this is in the end 
	to achieve responsiveness*/
	h2.style1.profile{
		margin: 1vw;
		height: auto;
		font-size: 1.3em;
	}

	h3.style2{
		margin-top: 0;
	}

	/*adding a media query for screen size from 1024px to 1215px*/
	@media screen and (max-width:1200px){
	h2.style1.profile{
		font-size: 1.0em;
		}
	}
	/*adding a media query for screen size from 1235px and above*/
	@media screen and (min-width:1235px){
	p.detail{
		font-size: 1.3em;
		}
	}